.App {
  text-align: center;
}

.producto{
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.position{
  display: flex;
  justify-content: center;
}

.anuncio{
  display: flex;
  justify-content: space-around;
  margin: 30px;
}